@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Optional: Reset specific elements */
/* For example, resetting the list styles */
ul, ol {
  list-style: none;
}

body{
  font-family: 'Nunito', sans-serif;
  color:#676767;
  background-color:#31376F;
}

.bg-card{
  background-color:#1D203E;
}
.bg-sidebar{
  background-color: #888e54;
}
.bg-sidebar-card-top{
  background-color: #1C0A43;
}
.sidebar-separator-top{
  border-bottom: 1px solid #E8A9FF;
}
.sidebar-separator-bottom{
  border-top: 1px solid #E8A9FF;
}

.icon-background{
  background: #2d2d2d;
}

.tooltip-head{
background: #1d1d1d;
}
.tooltip-body{
  background:#252525 ;
}

.search-icon{
  top: 50%;
  transform: translate(0, -50%);
}

.card-stack-border{
  border-bottom: 2px solid #696969;
}
.bg-details{
  background-color: #E8A9FF;
}

.add-component-head{
  background-color: #181818;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}

.sidebar-item-selected{
  color: white;
  border-right: 2px solid white;
}
.sidebar-item{
  border-right: 2px solid transparent;
}
.sidebar-item:hover {
 color:#a1a0a0;
}
